body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #b0e2b8, #ced5d6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.weather-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.search-box {
    margin-bottom: 15px;
}

input {
    padding: 10px;
    width: 70%;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #4facfe;
    color: white;
    cursor: pointer;
    margin: 5px 0;
}

button:hover {
    background-color: #00c6ff;
}

.weather-info {
    margin-top: 20px;
}

.weather-info img {
    width: 80px;
}

.error {
    color: red;
    margin-top: 10px;
}
